@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
  scrollbar-width: transparent;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  margin-left: 4rem;
  margin-bottom: 4rem;
  background: linear-gradient(to right top, white, white, white, #4CC7CC);
  cursor: pointer;
}

.navbar p {
  color: #117C82;
}

.navbar h2 {
  color: #4D5965;

}

.nav-item {
  font-weight: 500;
  font-size: 22px;
  padding: 10px 30px;
}

.join {
  border-radius: 25px;
  background-color: #4D5965;
  color: white;
}

.nav-item:hover {
  border-radius: 24px;
  background-color: rgb(49, 49, 49);
  color: white;
}

.sec {
  display: flex;
  justify-content: space-evenly;
  /* border-left: 1px dotted black; */
}

.sec-content {
  margin-top: 5rem;
}

.sec-content h1 {
  font-weight: 700;
}

.sec-content div {
  margin: 1.5rem 0;
  line-height: 1.5rem;
}

.sec-content button:hover {
  background-color: #fff;
  color: #232323;
}

.ftr {
  background-color: #4D5965;
  padding: 4rem;
}

.ftr h4 {
  color: #ACFAF2;
}

.ftr div {
  padding: .3rem;
}