.aboutUs,
.quickLinks {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 6.56rem;
}
.aboutUs {
  width: 4.44rem;
}
.contactUs,
.privacyPolicy,
.termsAndConditions {
  position: absolute;
  top: 2.44rem;
  left: 0;
  display: inline-block;
  width: 5.56rem;
}
.privacyPolicy,
.termsAndConditions {
  top: 4.88rem;
  width: 6.81rem;
}
.termsAndConditions {
  top: 7.31rem;
  width: 11rem;
}
.aboutUsParent {
  position: absolute;
  top: 2.75rem;
  left: 1.38rem;
  width: 11rem;
  height: 8.81rem;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.quickLinksParent {
  position: absolute;
  top: 4.38rem;
  left: 7.25rem;
  width: 12.38rem;
  height: 11.56rem;
}
.thisWebsiteIs {
  position: absolute;
  top: 17.63rem;
  left: 7.25rem;
  font-size: var(--font-size-base);
  color: var(--color-white);
  display: inline-block;
  width: 26rem;
}
.howItWorks,
.registerYourBusiness,
.signUp {
  position: absolute;
  left: 0;
  display: inline-block;
}
.signUp {
  top: 0;
  width: 9.19rem;
}
.howItWorks,
.registerYourBusiness {
  top: 2.44rem;
  width: 11.44rem;
}
.registerYourBusiness {
  top: 4.88rem;
  width: 11.38rem;
}
.signUpParent {
  position: absolute;
  top: 2.75rem;
  left: 1.38rem;
  width: 11.44rem;
  height: 6.38rem;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.actionsParent {
  position: absolute;
  top: 4.38rem;
  left: 28rem;
  width: 12.81rem;
  height: 9.13rem;
}
.kamPaygmailcom {
  position: absolute;
  top: 2.75rem;
  left: 1.38rem;
  font-size: var(--font-size-base);
  color: var(--color-white);
  display: inline-block;
  width: 11.44rem;
}
.contactUsParent {
  position: absolute;
  top: 4.38rem;
  left: 49.06rem;
  width: 12.81rem;
  height: 4.25rem;
}
.icbaselineFacebookIcon,
.mdiinstagramIcon {
  position: absolute;
  top: 9.56rem;
  left: 50.56rem;
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
}
.mdiinstagramIcon {
  left: 54.13rem;
}
.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  width: 26.19rem;
  height: 2.5rem;
}
.eMailAddress {
  position: absolute;
  top: 0.25rem;
  left: 1.63rem;
  line-height: 200%;
}
.groupItem {
  position: absolute;
  top: 0.31rem;
  left: 17.38rem;
  border-radius: var(--br-5xs);
  background-color: var(--color-dimgray-100);
  width: 8.5rem;
  height: 1.88rem;
}
.subscribe {
  position: absolute;
  top: 0.25rem;
  left: 19.13rem;
  line-height: 200%;
  color: var(--color-white);
}
.rectangleParent {
  position: absolute;
  top: 12.75rem;
  left: 50.56rem;
  width: 26.19rem;
  height: 2.5rem;
  font-size: var(--font-size-base);
  color: rgba(0, 0, 0, 0.5);
}
.footer {
  position: absolute;
  top: 89.06rem;
  left: 0;
  background-color: var(--color-dimgray-100);
  width: 85.38rem;
  height: 22.81rem;
  overflow: hidden;
}
.circle1HeroSectionIcon {
  position: absolute;
  top: 25.38rem;
  left: 8.38rem;
  width: 0.81rem;
  height: 0.81rem;
}
.howItWorks1 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 125%;
  display: inline-block;
  width: 34.88rem;
}
.kamPayVerifiesNearby {
  margin-block-start: 0;
  margin-block-end: 6px;
}
.alsoItVerify {
  margin: 0;
}
.kamPayVerifiesNearbyContainer {
  position: absolute;
  top: 8.5rem;
  left: 0;
  font-size: 1.25rem;
  line-height: 125%;
  font-family: var(--font-raleway);
  display: inline-block;
  width: 34.88rem;
}
.arrowleftIcon,
.learnMore {
  position: relative;
}
.arrowleftIcon {
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;
  overflow: hidden;
}
.learnMoreParent {
  position: absolute;
  top: 19.31rem;
  left: 0;
  border-radius: var(--br-5xl);
  background-color: var(--color-dimgray-100);
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-13xl);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.howItWorksParent {
  position: absolute;
  top: 6.81rem;
  left: 34.19rem;
  width: 34.88rem;
  height: 23rem;
}
.howItWorksSectionChild {
  position: absolute;
  top: 0;
  left: 0;
  width: 30.38rem;
  height: 31.31rem;
  object-fit: cover;
}
.howItWorksSection {
  position: absolute;
  top: 48.38rem;
  left: 10.19rem;
  width: 69.06rem;
  height: 31.31rem;
  font-size: var(--font-size-31xl);
  color: var(--color-black);
}
.circle2howItWorksIcon,
.desktopChild {
  position: absolute;
  top: 64.44rem;
  left: 8.38rem;
  width: 0.81rem;
  height: 0.81rem;
}
.desktopChild {
  top: 9.66rem;
  left: 8.73rem;
  border-right: 1px solid rgba(77, 89, 101, 0.5);
  box-sizing: border-box;
  width: 0.06rem;
  height: 109.19rem;
}
.desktopItem {
  position: absolute;
  top: 0;
  left: 29.19rem;
  width: 82.63rem;
  height: 43.38rem;
  opacity: 0.4;
}
.logoIcon {
  position: absolute;
  top: -0.12rem;
  left: -0.37rem;
  width: 3.63rem;
  height: 7.38rem;
}
.kamPay {
  position: relative;
  font-weight: 600;
}
.kamPayWrapper,
.sideHustleMadeEasierWrapper {
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.kamPayWrapper {
  top: 0;
}
.sideHustleMadeEasierWrapper {
  top: 2.69rem;
  font-size: var(--font-size-base);
  color: #117c82;
}
.frameParent {
  position: absolute;
  top: 0;
  left: 5rem;
  width: 12rem;
  height: 4.19rem;
}
.item1,
.logo {
  position: relative;
}
.logo {
  width: 17rem;
  height: 6.88rem;
  flex-shrink: 0;
}
.item1 {
  font-weight: 500;
}
.joinNowWrapper {
  border-radius: var(--br-5xl);
  background-color: var(--color-dimgray-100);
  padding: var(--padding-base) var(--padding-13xl);
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.joinNowWrapper,
.menuBar,
.menuItems {
  display: flex;
  flex-direction: row;
}
.menuItems {
  align-items: center;
  justify-content: flex-start;
  gap: 3.38rem;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.menuBar {
  position: absolute;
  top: 0;
  left: 0;
  align-items: flex-start;
  justify-content: center;
  gap: 19.94rem;
}
.lookingForFlexibleContainer,
.partTimeJobsFor {
  position: relative;
  line-height: 125%;
  display: inline-block;
  width: 28.88rem;
}
.lookingForFlexibleContainer {
  font-size: var(--font-size-base);
  font-family: var(--font-raleway);
}
.vectorIcon {
  position: relative;
  width: 0.74rem;
  height: 0.74rem;
  flex-shrink: 0;
}
.buttonJoinNowIcon {
  border-radius: var(--br-5xl);
  background-color: var(--color-dimgray-100);
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-13xl);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.partTimeJobsForStudentsParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2.31rem;
}
.frameChild {
  position: relative;
  width: 32.56rem;
  height: 25.75rem;
  flex-shrink: 0;
  object-fit: cover;
}
.frameGroup {
  position: absolute;
  top: 10.63rem;
  left: 5.94rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 4.25rem;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--color-black);
}
.heroSection1 {
  position: absolute;
  top: 2.63rem;
  left: 7.25rem;
  width: 72.25rem;
  height: 36.38rem;
}
.heroSection {
  position: absolute;
  top: 0;
  left: 0;
  width: 85.38rem;
  height: 39rem;
  text-align: center;
  font-size: 2rem;
  color: var(--color-dimgray-100);
}
.desktop {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 111.88rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-paleturquoise);
  font-family: var(--font-poppins);
}
    